@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,600&display=swap");
$rich-blue: #0b24fb;
$pinky-50: rgba(249, 131, 171, 0.5);

$black: #000000;
$white: #ffffff;

$work-sans: "Work Sans", sans-serif;

body {
  font-family: $work-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: $black;
  background-color: $white;
  font-family: $work-sans;
  border: none;
  display: grid;
  place-items: center;
  font-size: 16px;
  transition: all 0.1s ease-out;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    filter: opacity(0.35);
    cursor: not-allowed;
  }
  &:active {
    transform: scale(0.9);
    transform-origin: center;
  }
}

header {
  height: 67px;
  position: sticky;
  top: 0;
  padding: 0 213px;
  @media (max-width: 768px) {
    padding: 0 24px;
  }
}

footer {
  height: 67px;
  justify-content: space-between;
  color: $white;
  padding: 27px 213px;
  @media (max-width: 768px) {
    padding: 27px 24px;
  }
}

// spacing
.mt-162 {
  margin-top: 162px;
}
.mb-107 {
  margin-bottom: 107px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-67 {
  margin-bottom: 67px;
}
.mt-67 {
  margin-top: 67px;
  &-hero {
    margin-top: 87px;
    @media (max-width: 480px) {
      margin-top: 67px;
    }
  }
}
.mb-63 {
  @media (max-width: 480px) {
    margin-bottom: 63px;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-13 {
  margin-right: 13px;
}
.last-paragraph {
  @media (min-width: 1280px) {
    margin-bottom: 213px;
  }
}
.h-33 {
  height: 33px;
}

// opacity
.op-0 {
  opacity: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-10 {
  z-index: 10;
}

// typeface
.tf {
  color: $white;
  text-align: center;
  width: 100%;
  @media (max-width: 768px) {
    text-align: left;
  }
  &-title {
    font-weight: 900;
    font-size: 38px;
    @media (max-width: 768px) {
      font-size: 32px;
    }
    &-sm {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.57px;
    }
  }
  &-paragraph {
    font-weight: normal;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: -0.64px;
    @media (max-width: 768px) {
      font-size: 16px;
      letter-spacing: -0.57px;
    }
    &-sm {
      font-size: 16px;
      @media (max-width: 768px) {
        letter-spacing: -0.43px;
        font-size: 12px;
      }
    }
    &-xs {
      font-weight: 300;
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
  &-hero {
    text-align: center;
    font-weight: 900;
    font-size: 62px;
    line-height: 0.82;
    @media (max-width: 480px) {
      font-size: 52px;
      line-height: 0.98;
    }
    &-sub {
      text-align: center;
      font-style: italic;
      font-weight: 600;
      font-size: 21px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  &-definition {
    font-weight: 500;
    font-size: 21px;
    line-height: 1.52;
    letter-spacing: -0.75px;
    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.57px;
    }
    &-sub {
      font-weight: 600;
      font-style: italic;
      font-size: 21px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  &-card {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
    &-sub {
      font-size: 12px;
      letter-spacing: -0.43px;
    }
  }
}
.medium {
  font-weight: medium;
}
.italic {
  font-style: italic;
}
.ta-right {
  text-align: right;
}
.ta-left {
  text-align: left;
}

// button
.btn {
  &-hero {
    width: 231px;
    height: 58px;
    border-radius: 29px;
    margin-top: -105px;
    @media (min-width: 768px) {
      margin-bottom: 196px;
    }
  }
}

// container
.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.hero-bg {
  top: -67px;
  width: 100%;
  object-fit: cover;
  @media (max-width: 480px) {
    height: 667px;
    width: 90.91%;
    transform-origin: top;
    transform: scale(1.1);
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  gap: 10px;
  @media (max-width: 480px) {
    gap: 0;
  }
}
.article {
  flex: 0 1 311px;
  min-width: 311px;
  width: 311px;
  height: 176px;
  @media (max-width: 480px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.article-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    transition: transform 0.4s ease-out;
    &:hover {
      transform: scale(1.3);
    }
  }
}
.overlay {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
  padding: 17px 25px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 619px;
  @media (max-width: 480px) {
    width: 311px;
  }
}
.helpTips {
  @media (min-width: 1280px) {
    margin-top: 33px;
  }
  &-b {
    @media (min-width: 1280px) {
      margin-bottom: 127px;
    }
  }
}
.badge-xs {
  box-sizing: border-box;
  border-radius: 12px;
  border: solid 1px $white;
  padding: 3px 9px 4px 9px;
  min-height: 20px;
}
.decor1 {
  left: -89px;
  top: -40px;
  @media (max-width: 480px) {
    left: 34px;
    top: -69px;
  }
}
.decor2 {
  top: 537px;
  right: -246px;
  object-fit: contain;
  max-width: 159px;
  max-height: 195px;
  @media (max-width: 1280px) {
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
}
.decor3 {
  @media (min-width: 1280px) {
    position: absolute;
    bottom: 0;
  }
}
.item {
  &-left {
    align-items: flex-start;
  }
  &-right {
    align-items: flex-end;
  }
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.overflow-vis {
  overflow: visible;
  // overflow-y: visible;
  // overflow-x: hidden;
}
.flex-row {
  flex-direction: row;
}
// color
.black {
  color: $black;
}
.white {
  color: $white;
}
.blue {
  color: $rich-blue;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-blue {
  background-color: $rich-blue;
}
.bg-pink {
  background-color: $pinky-50;
}
.bg-none {
  background: none;
}
.bs-pink {
  box-shadow: 0 20px 30px 0 $pinky-50;
}
.ts-pink {
  text-shadow: 0 20px 30px rgba(249, 131, 171, 0.7);
}

// carousel
.carousel {
  box-sizing: border-box;
  overflow: auto;
  max-width: 619px;
  bottom: -124px;
  padding: 25px 25px 29px;
  scrollbar-width: none;
  pointer-events: none;
  @media (max-width: 480px) {
    width: 100%;
    bottom: -95px;
    left: 0;
    padding: 0 32px;
  }
  @media (max-width: 768px) {
    pointer-events: initial;
  }
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    overflow-y: hidden;
  }
}
.slider {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 247px;
  width: 247px;
  padding: 20px;
  margin-right: 10px;
  box-shadow: 0 -10px 20px 0 rgba(249, 131, 171, 0.2);
}

.car-arrow {
  top: 129px;
  right: -57px;
  &-left {
    transform: rotate(180deg);
    top: 129px;
    left: -57px;
    &:active {
      transform: rotate(180deg) scale(0.9);
      transform-origin: center;
    }
    @media (max-width: 768px) {
      visibility: hidden;
      width: 0;
    }
  }
  @media (max-width: 768px) {
    visibility: hidden;
    width: 0;
    left: 0;
  }
}
